body{
    font-family: 'Poppins', sans-serif;
    background-color:  #37474F
    ;
  }
  
  /* mask */
  
  html,
  body,
  header,
  #intro {
      height: 100%;
  }
.card-color{
background-color: #D6B9AF;
}