html{
    font-family: 'Poppins', sans-serif;
  }
  
  /* mask */
  
  html,
  body,
  header,
  #intro {
      height: 100%;
  }
  
  /* nav */
  
  .top-nav-collapse {
      background-color: #24355C;
    }
    @media (max-width: 768px) {
      .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
      }
    }
    @media (min-width: 800px) and (max-width: 850px) {
      .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
      }
    }
  
  #intro {
      background: url(../img/IMG_20200418_241002841.jpg)no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }