body{
    font-family: 'Poppins', sans-serif;
    background-color:  #37474F;
  }
  
  /* mask */
  
  html,
  body,
  header,
  #intro{
      height: 100%;
  }

  html,
  body,
  header,
  #intro-yolocal{
      height: 100%;
  }

  
  
  /* nav */

  .logo-font{
    font-family: 'Faustina', serif;
    font-size: 1.7rem;
  }

  #nombre{
font-size: 4rem;
}
 
  
  .top-nav-collapse {
      background-color: #24355C;
    }
 

  

    .icon-color{
      color:  #8f6ee2 ;
    }
  
  #intro{
      background: url(../img/IMG_20200418_241002841.jpg)no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

  #intro-yolocal{
   background: url(../img/portada-yoLocal.jpeg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
  }


  

  #footer{
    color: #24355C;
  }

  #marca{
    font-family: 'Faustina', serif;
  }

  /* estilos para pagina yo local */

 .card-color{
   background:#BE5A00;
 }
.body-yolocal{
  background-color: #ffffff;
}

.heading{
  color: #BE5A00;
}

  #prototipado{
    height: 400px;
    width: 100%;
    background: url(../img/mockups-test-comerciante.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }







  @media (min-width: 992px){
    #nombre{
      font-size: 4rem;
    }

    #description{
      font-size: 1.5rem;
    }
  }

  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
    #nombre{
      font-size: 4rem;
    }


    
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }

    
  }

  @media all (max-width :576px){
    #nombre{
      font-size: 2rem;
      font-weight: 300;
    }

    #description{
      font-size:1.2rem; 
      font-weight: 400;
    }
  }